# Configurações do Banco de Dados MySQL
DB_HOST=/cloudsql/p1-gabriel-costal-fogo
DB_USER=gabriel
DB_PASSWORD=12345678
DB_NAME=free-trial-first-project
DB_PORT=3306

# Provedor de Storage (Valores aceitos: "gcp" ou "azure")
STORAGE_PROVIDER=gcp

# Configurações Google Cloud Storage (se STORAGE_PROVIDER=gcp)
GCP_PROJECT_ID=p1-gabriel-costal-fogo
GCP_BUCKET_NAME=tasksbucket
